<ng-container *ngIf="pokemon">
  <!-- {{ pokemon | json }} -->
  <div class="container row">
    <div class="col-sm-6">
      <mat-list>
        <mat-list-item>id: {{ pokemon.id }}</mat-list-item>
        <mat-list-item>generation: {{ pokemon.generation }}</mat-list-item>
        <mat-list-item>types: {{ pokemon.types.join(", ") }}</mat-list-item>
        <mat-list-item>forms: {{ pokemon.forms.join(", ") }}</mat-list-item>
        <mat-list-item>baseExperience: {{ pokemon.baseExperience }}</mat-list-item>
        <mat-list-item>is default pokemon: {{ pokemon.isDefault }}</mat-list-item>
       </mat-list>

      <ul>
      </ul>

      <h3>Present in games</h3>
      {{ pokemon.gamesWherePresent.join(", ") }}

      <h3>Actions</h3>

      <strong>moves:</strong> {{ pokemon.actions.moves.join(", ") }}
      <br><br>
      <strong>abilities:</strong> {{ pokemon.actions.abilities.join(", ") }}

      physicalCharacteristics: PokemonPhysicalCharactersitics;
      normalizedPhysicalCharacteristics: PokemonPhysicalCharactersitics;

      <img src="{{pokemon.images}}" alt="">
    </div>
    <div class="col-sm-6">
      <app-pokemon-stats [stats]="pokemon.stats"></app-pokemon-stats>
      <app-pokemon-normalized-stats [stats]="pokemon.normalizedStats"></app-pokemon-normalized-stats>
    </div>

  </div>
</ng-container>
